.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Gloria+Hallelujah&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

body {
  color: #0f3654;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #0f3654;
  color: #ffffff;
}

.headerLeft {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 1rem;
}

.headerLeft h1 {
  font-size: 2rem;
  font-family: "Gloria Hallelujah", cursive;
}

.headerRight {
  display: flex;
  margin-right: 1rem;
  text-transform: uppercase;
}

.headerRight ul {
  display: flex;
  list-style: none;
}

.headerRight li {
  padding-inline: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.headerRight li a:hover {
  color: #aaaaaa;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    height: 96px;
  }

  .headerLeft h1 {
    font-size: 1.8rem;
  }

  .headerRight {
    padding-bottom: 16px;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    height: 96px;
  }

  .headerLeft h1 {
    font-size: 1.4rem;
  }

  .headerRight {
    padding-bottom: 16px;
  }
}

.footer {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
}

.small {
  font-size: 0.9rem;
  color: #237abd;
}

.smalldark {
  font-size: 0.85rem;
  color: hsl(242, 52%, 89%);

  padding-top: 2px;
}

.smalldark a {
  text-decoration: underline;
}

.smalldark a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.4);
}

.content {
  margin: 0 auto;
  width: 95vw;
  max-width: 1400px;
  margin-top: 20px;
}

.galleryList {
  min-height: 75vh;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.photos img {
  display: block;
  width: 20vw;
  height: 25vh;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .photos img {
    width: 28vw;
    height: 25vh;
  }
}

@media (max-width: 1000px) {
  .photos img {
    width: 40vw;
    height: 30vh;
  }
}

@media (max-width: 800px) {
  .photos img {
    width: 80vw;
    height: 40vh;
  }
}

.caption {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  font-family: sans-serif;
  width: auto;
}

.p1 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: #eee;
  position: absolute;
  font-size: 1rem;
  bottom: 32px;
  left: 5px;
}

.p2 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px;
  color: #eee;
  font-size: 0.9rem;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.content {
  margin: 0 auto;
  width: 90vw;
  max-width: 1400px;
  margin-top: 20px;
}

.gallery {
  position: relative;
  margin: 0;
  font-family: sans-serif;
  width: auto;
  column-count: 3;
  column-gap: 8px;
}

@media (max-width: 1200px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .gallery {
    column-count: 1;
  }
}

.gallery img {
  width: 100%;
  margin: 2px;
  border: 1px solid #444;
  cursor: pointer;
}

.gallerytitle {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.2rem;
  line-height: 2rem;
  padding-left: 3px;
  text-align: left;
}

.gallerymonthyear {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 3px;
  text-align: left;
}

.lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox img {
  cursor: pointer;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
}

.goleft {
  z-index: 1100;
  position: fixed;
  left: 48px;
}

.goright {
  z-index: 1100;
  position: fixed;
  right: 48px;
}

.backbutton {
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Gloria Hallelujah", cursive;
  text-align: left;
  padding-bottom: 5px;
  margin-bottom: 10px;
  display: flex;
  margin-right: 1rem;
  text-transform: uppercase;
  height: 80px;
  line-height: 80px;
}

.backbutton:hover {
  text-decoration: underline;
}

.backbutton ul {
  display: flex;
  list-style: none;
}

.backbutton li {
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: middle;
}

.backbutton li img {
  max-height: 80px;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  vertical-align: middle;
}
.backbutton li a:hover {
  color: #aaaaaa;
}
